.container {
  display: flex;
  height: 100vh;
  background-color: #00bff3;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-logo {
  width: 50%;
  height: auto;
}

.login-box {
  flex: 1;
  background-color: #2d3e50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.login-title {
  color: #fff;
  margin-bottom: 1rem;
}

.login-form {
  width: 100%;
  max-width: 350px;
}

.login-field {
  margin-bottom: 1rem;
}

.login-label {
  color: #bbb;
  display: block;
  margin-bottom: 0.5rem;
}

.login-input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  color: #333;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #00bff3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.login-error {
  color: red;
  margin-bottom: 1rem;
}

.login-signup {
  color: #fff;
  margin-top: 1rem;
}

.signup-button {
  background: none;
  border: none;
  color: #00bff3;
  cursor: pointer;
  font-weight: bold;
}
